.container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.content {
  width: 100%;
  flex-grow: 1;
  /* background-color: blueviolet; */
}

.header {
  background-color: #45a049;
  color: white;
  text-align: center;
  padding: 1rem;
  flex: 0 0 3rem;
}

.footer {
  background-color: #45a049;
  color: white;
  text-align: center;
  padding: 1rem;
  flex: 0 0 3rem;
}
