.content {
	margin-left: auto;
	display: flex;
	flex-direction: column;
	transition: width 500ms ease-in-out;
}

.content.with-sidebar {
	width: calc(100% - 20rem);
}

.content.full-width {
	width: 100%;
}

.List {
	margin-left: 20rem;
	margin: 1rem;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	grid-auto-rows: minmax(2rem, auto);
	gap: 1rem;
	/* background-color: aqua; */
}

.ListItem {
	box-sizing: border-box;
	border: 0.05rem solid black;
	background-color: white;
	font-size: small;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ListItem.unclickable {
	pointer-events: none;
	color: gray;
}

.ListItem.small-size {
	/* width: 3rem; */
}

.ListItem:hover,
.ListItem:active {
	background-color: #dadada;
}

.title {
	margin-right: auto;
	margin-left: 1rem;
	margin-top: 1rem;
	font-size: xx-large;
	font-weight: bolder;
}
