.Modal {
	position: fixed;
	z-index: 200;
	border: 0.05 solid black;
	background-color: white;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	top: 25%;
	left: 25%;
	width: 50%;
	transition: 400ms all ease;
}

.modal-content {
	font-family: Arial; /* Change font family as needed */
	font-size: 1rem; /* Change font size as needed */
	text-align: start; /* Center align text */
	margin: 10px 0; /* Add margin for spacing */
}
