.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}

.BounceImmerge {
  animation: immergeBounce 400ms ease-out forwards;
}

.BounceDismiss {
  animation: dismissBounce 400ms ease-out forwards;
}

@keyframes immergeBounce {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes dismissBounce {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(-20%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
